{% extends "user/dashboard_qa.html" %}

{% block primary_content_inner %}
	<section class="module module-qadashboard">
		<div class="module-content">

		{% block problem_table %}

			{% if problems %}
				<ul class="list-group">
					{% for problem in problems %}
					  <li class="list-group-item">
						<span class="badge">{{ _( problem.current_status ) }}</span>
						<a href="{{ h.url_for('problem_detail', id=problem.id, package_id=problem.package_id) }}">{{ problem.title }}</a>
					  </li>
					{% endfor %}
				</ul>
			{% else %}
				<p class="empty">{{ _('No problems reported for your datasets.') }}</p>
			{% endif %}
			
		{% endblock %}
		
		</div>
	</section>
{% endblock %}