{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Notified problems') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}

  <h1 class="hide-heading">{% block page_heading %}{{ _('Notified problems') }}{% endblock %}</h1>
  
  {% block problem_table %}
	{% if c.user %}
		<div class="page_primary_action">
			{% link_for _('Add problem'), named_route='problem_new', package_id=pkg.name, class_='btn btn-primary', icon='plus-square' %}
		</div>
	{% endif %}
	
    <ul class="list-group">
        {% for problem in problems %}
          <li class="list-group-item">
            <span class="badge">{{ _( problem.current_status ) }}</span>
            <a href="{{ h.url_for('problem_detail', id=problem.id, package_id=pkg.name) }}">{{ problem.title }}</a>
          </li>
        {% endfor %}
    </ul>
    
  {% endblock %}
  
{% endblock %}
