{% extends "package/base.html" %}

{% block subtitle %}{{ _('Notified problems') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}
  <li><a href="{{ h.url_for('dataset_problems', id=pkg.name) }}">{{ _('Problems') }}</a></li>
  <li class="active"><a href="">{{ _('Problem name') | truncate(30) }}</a></li>
{% endblock %}

{% block pre_primary %}
    {% block problem_detail %}
        <section class="module module-resource">
            <div class="module-content">
                {% if h.check_access('package_update', {'id':pkg.id }) %}
                    {% link_for _('Update problem'), named_route='problem_edit', id=problem.id, package_id=pkg.name, class_='btn btn-default pull-right', icon='wrench' %}
                {% endif %}

                <h1>{% block page_heading %}{{ _('Problem name') }}{% endblock %}</h1>
              
                <div class="notes embedded-content">
                    <p>{{ problem.description }}</p>
                </div>
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <th scope="row" class="dataset-label" width="25%">{{ _('ID') }}</th>
                            <td class="dataset-details">{{ problem.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="dataset-label" width="25%">{{ _('Status') }}</th>
                            <td class="dataset-details">{{ _( problem.current_status ) }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="dataset-label">{{ _('Author') }}</th>
                            <td class="dataset-details">{{ user.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="dataset-label">{{ _('Created') }}</th>
                            <td class="dataset-details">{{ problem.date_created }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    
  {% endblock %}
  
{% endblock %}

{% block primary_content %}{% endblock %}
{% block secondary_content %}{% endblock %}
