{% extends "package/base.html" %}
{% import 'macros/form.html' as form %}

{% block pre_primary %}
    {% block problem_form %}
        <section class="module module-resource">
            <div class="module-content">
				<h2>
				{% if action == 'new' %}
					{{ _('Add a problem') }}
				{% else %}
					{{ _('Update problem') }}
				{% endif %}
				</h2>
				
				
				{% if errors.msg %}
					<p class="bg-danger text-danger" style="padding: 5px;"><strong>{{ _('Error') }}:</strong>
						{{ _(errors.msg) }}
					</p>
				{% endif %}
			
                <form id="problem-edit" class="dataset-form" method="post" action="{{ h.url_for('problem_save', package_id=pkg.name) }}" data-module="basic-form" novalidate>
                
                <input type="hidden" name="package_id" value="{{ c.pkg.id }}" />
                <input type="hidden" name="action" value="{{ action }}" />
                
                {% if action == 'new' %}
                
                    {% block problem_title %}
                        {{ form.input('title', id='field-title', label=_('Title'), placeholder='', value='', error=errors.title, classes=['control-medium'], attrs={'class': 'form-control'}) }}
                    {% endblock %}
                    
                    {% block problem_detail %}
                        <div class="form-group control-medium">
                          <label for="field-type" class="control-label">{{ _('Type') }}</label>
                          <div class="controls">
                            <select id="field-type" name="type" class="form-control">
                              {% for option in problem_types %}
                                <option value="{{ option.id }}" selected="selected">{{ option.name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                    {% endblock %}
                    
                {% else %}
                
                    <input type="hidden" name="id" value="{{ problem.id }}" />
                    
                    {% block problem_status %}
					
						{% if h.check_access('package_update', {'id': c.pkg.id }) %}
							<div class="form-group control-medium">
							  <label for="field-status" class="control-label">{{ _('Status') }}</label>
							  <div class="controls">
								<select id="field-status" name="status" class="form-control">
								  {% for option in status %}
									<option value="{{ option }}" {% if problem.current_status == option %}selected="selected"{% endif %}>{{ option }}</option>
								  {% endfor %}
								</select>
							  </div>
							</div>
							
						{% else %}
							
							 <input type="hidden" name="status" value="{{ problem.current_status }}" />
							
						{% endif %}
                    
                    {% endblock %}
                
                {% endif %}
                
                {% block problem_description %}
                    {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('eg. information about the problem found') if action=='new' else _('eg. additional information about the problem'), value='', error=errors.description) }}
                {% endblock %}
                
                {% block save_button %}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Save') }}{% endblock %}</button>
                    </div>
                {% endblock %}
                
                </form>
            </div>
        </section>
    {% endblock %}
{% endblock %}

{% block primary_content %}{% endblock %}
{% block secondary_content %}{% endblock %}